/* color of the website
Black: black
Grey: #19191E
Orange: #ffaa2a
Orange light: #FFBD59
White: #FFFFFF */

.title {
  height: 100%;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.titletext {
  font-size: 28pt;
  height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'League Spartan', sans-serif !important;
  background-image: url('Images/chitarra1.jpg') !important;
   height: 100%;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.nav-link
{
  display:inline-block;
  align-items:center;
  text-decoration:none;
  cursor:pointer !important;
  position:relative;
}

.INTRO {
  background-color: black;
  color: WHITE;
  Text-align: center;
  margin-top: 5%;
}

header nav ul li:hover {
  border-radius: 9px;
  transition-duration: 0.200s;
  background-color: #ffaa2a !important;
}

h1, h2 {
  text-align: CENTER;
  font-family: 'League Spartan', sans-serif !important;
  color: white;
}


body{
  background-color: black !important;
  font-family: 'Montserrat', sans-serif;
  color: white !important;
}

header {
  background-color: black;
  font-family: 'League Spartan', sans-serif !important;
}

main {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.STORIA {
  color: white;
  text-align:center;
  background-color: #19191E;
}

p.suggsto{
  color: grey;
  text-align: center;
  margin-top: 2%;
}

p.suggstoddn{
  color: grey;
  text-align: center;
  margin-top: 2%;
}

#fotoparagrafo1cs {
  height: 20%;
  width: 40%;
}


#fotoparagrafo3cs {
margin-top: 2%;
  height: 20%;
  width: 40%;
}

#fotoparagrafo2cs {
  margin-top: 2%;
  height: 20%;
  width: 20%;
}

#fotostoriacs {
  height: 20%;
  width: 40%;
  align-content: center !important;
}

footer {
  background-color: #ffaa2a;
  text-align: center;
  float: none;
  color: black;
  margin-top: 10%
}

p.footer {
  margin-top: 1%;
}

#fddn {
    float: left;
    height: 25%;
    width: 25%;
    margin: 5%;
    margin-left: 13%;

}

h3 {
  color: #ffaa2a !important;
  margin: 10% !important;
  margin-bottom: 5% !important;
  text-align: center !important;
}

.media {
  margin-bottom: 0px;
}


.media-body {
  margin: 11%;
  margin-left: 10%;
  margin-right: 10%;
    float: left;
    overflow: hidden;
    text-align: center;
    display: block;
}

.media-bodyddn {
  margin-left: 25%;
  margin-right: 15%;
  margin-top: 13%;
  margin-bottom: 5%;
    float: left;
    overflow: hidden;
    text-align: center;
}

.ytvideo{
  margin-top: -4%;
  margin-bottom: 5%;
  height: 360px;
  width: 540px;
 }
